@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
 display: flex;
 margin-top: 50px;
 justify-content: center;
 background-color: #2d2d54;
 font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#monthDisplay{
  font-size: min(24px, 7vw);
  font-weight: bold;
  font-family: 'Poppins';
}

.month-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
 max-width: 80px;
 cursor: pointer;
 box-shadow: 0px 0px 2px gray;
 border: 1px solid;
 outline: none;
 padding: 5px;
 color: white;
}

#header {
 padding: 10px;
 color: #d36c6c;
 font-size: 26px;
 font-family: sans-serif;
 display: flex;
 justify-content: space-between;
}
#header button {
 background-color: rgba(30, 30, 47, 0.8);
}

#container {
 width: 100%;
 max-width: 770px;
 padding: 10px;
 box-sizing: border-box;
}

#weekdays {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 color: #E13E09;
 text-align: center;
 font-weight: bold;
}
#weekdays div {
 padding: 10px;
}

#calendar {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 grid-gap: 5px;
 width: 100%;
 margin: auto;
}

.day {
 padding: 10px;
 height: 100px;
 cursor: pointer;
 box-sizing: border-box;
 background-color: whitesmoke;
 box-shadow: 0px 0px 3px #1e1e2f;
 display: flex;
 flex-direction: column;
 justify-content: space-between;  
 font-size: min(3vw, 16px);
 font-weight: bold;
 color: rgb(67, 62, 62);
}
.day:hover {
 background-color: #e8faed;
}

.day + #currentDay {
 background-color:#e8f4fa;
}
.event {
 font-size: 10px;
 padding: 3px;
 background-color: #58bae4;
 color: white;
 border-radius: 5px;
 max-height: 55px;
 overflow: hidden;
}
.padding {
 cursor: default !important;
 background-color: #FFFCFF !important;
 box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
 display: none;
 z-index: 20;
 padding: 25px;
 background-color: #e8f4fa;
 box-shadow: 0px 0px 3px black;
 border-radius: 5px;
 width: 350px;
 top: 100px;
 left: calc(50% - 175px);
 position: absolute;
 font-family: sans-serif;
}
#eventTitleInput {
 padding: 10px;
 width: 100%;
 box-sizing: border-box;
 margin-bottom: 25px;
 border-radius: 3px;
 outline: none;
 border: none;
 box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
 border: 2px solid red;
}
#cancelButton, #deleteButton {
 background-color: #d36c6c;
}
#saveButton, #closeButton {
 background-color: #92a1d1;
}
#eventText {
 font-size: 14px;
}
#modalBackDrop {
 display: none;
 top: 0px;
 left: 0px;
 z-index: 10;
 width: 100vw;
 height: 100vh;
 position: absolute;
 background-color: rgba(0,0,0,0.8);
}


@media (max-width: 768px) {
  .day {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .day {
    height: 60px;
  }
  #weekdays div {
    font-size: 12px;
    padding: 5px;
  }
}
