/* Body and layout */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

.navbar #profile img {
  width: 40px;
  border-radius: 50%;
}

/* Sidebar */
.side-bar {
  background-color: #333;
  color: white;
  width: 250px;
  min-height: 100vh;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.side-bar.collapsed {
  width: 50px;
}

/* Sidebar toggle button */
#sidebar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#sidebar-btn svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* balance and expenditure */

.bal-exp{
  display: flex;
  margin-left: 350px;
  margin-top: 130px;
}

.bal-exp #balance{
  flex: 1;
  margin-right: 100px;

  background-color: rgba(168, 230, 206, 0.7);
  align-items: center;
  justify-content: center;
}

.bal-exp-head p{
  font-family: 'Poppins' ;
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 800;
}

.bal-exp #expenditure{
  flex: 1;
  margin-right: 100px;

  background-color: rgba(255, 171, 171, 0.7);
}

.amount p{
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 40px;
  margin: 3px 0px;
}

