/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

/* Alert System */
.alert-sys {
  display: none;
  align-items: center;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}

.alert-sym {
  margin-right: 10px;
  font-size: inherit;
  display: flex;
  align-items: center;
}

.alert-txt {
  font-size: inherit;
  color: #e74c3c;
}

/* Login Details*/
.login-details, .signup-details {
  margin-bottom: 20px;
}

.login-info, .signup-info {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"]
{
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Extra Elements */
.login-extra, .signup-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.show-password {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px; /* Reduced font size */
}

.login-remember {
  font-size: 12px; /* Reduced font size */
}

/* Buttons */
.login-btn button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn button:hover{
  background-color: black;
}

/* Social-apps Buttons */
.social-acnt {
  text-align: center;
  margin-top: 20px;
}

.social-acnt p {
  margin-bottom: 10px;
  font-size: 14px;
}

.social-icns {
  display: flex;
  justify-content: center;
}

.social-icn {
  background-color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-icn svg {
  fill: gray; /* Set svg color to gray */
}

.social-icn svg:hover {
  fill: black; /* On hover, svg turns black */
}

.signup-link, .login-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.signup-link:hover, .login-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 20px;
  }
}
